/* --- PROJECTS --- */
.principal__projects {
    width: 100vw;
    height: 100vh;
    display: flex;
    gap: 0.3em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    padding-top: 4em;
  
  }
  .projects__title {
    font-size: 3em;
    text-align: center;
    font-weight: 500;
    background: #0400ff;
    background: -webkit-linear-gradient(182deg, #0400ff 0%, #9951ff 100%);
    background: linear-gradient(182deg, #0400ff 0%, #9951ff 100%);
  
      background-clip: text; 
      color: transparent;
  }
  .slider__box {
    width: 1000px;
    position: relative;
    transition: trasnform .5s ease-in-out;
    
  }
  .slider__box--carousel {
    width: 100%;
    display: flex;
    margin: 1em;
    gap: 1.5em;
    white-space: nowrap;
    overflow: hidden;
    scroll-behavior: smooth;
  }
  
  .hidden {
    display: none;
  }
  .container__imgSlider {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.8em;
    border: 1em solid lightgray;
    background: lightgrey;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
    border-radius: 2em;
  }
  
  .container__imgSlider h3{
    width: 950px;
    text-align: center;
    font-size: 3em;
    font-weight: 400;
    margin-top: 1em;
    color: #9951ff;
  }
  .container__imgSlider--content {
    width: inherit;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .container__imgSlider--img {
    width: 10em;
    display: flex;
    
  }
  .container__imgSlider--img img {
    width: 450px;
    border-radius: 1em;
    box-shadow: 1px 2px 4px rgb(159, 159, 159);
    transition: transform 200ms ease-in-out;
    border: 5px solid rgb(255, 255, 255);
  }
  .container__imgSlider--img img:hover {
    transform: skew(0, 8deg);
  }
  .container__imgSlider-span {
    text-decoration: none;
    padding-top: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 4em;
  }
  .container__imgSlider-span a{
    display: flex;
    align-items: center;
  
    text-decoration: none;
    color: black;
    gap: 3em;
  }
  .redirection {
    color: white;
    font-size: 3em;
  }
  .container__imgSlider-span:hover .redirection,
  .redirection:hover {
    color: rgb(161, 159, 159);
  }
  
  .PreviusNext {
    top: 50%;
    height: 46px;
    width: 46px;
    cursor: pointer;
    position: absolute;
    font-size: 1.2rem;
    text-align: center;
    line-height: 46px;
    background: #fff;
    border-radius: 50%;
    scroll-behavior: smooth;
    box-shadow: 0 2px 2px gray;
  }
  .previus {
    left: -2px;
  }
  .next {
    right: -25px;
  }
  .slider__box i{
    color: black;
  }
  .container__imgSlider--info {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
    padding: 1em;
    margin-top: 1em;
    gap: 0.8em;
  }
  .container__imgSlider--info p{
    display: flex;
    white-space: wrap;
    width: inherit;
    text-align: justify;
    color: black;
  }
  .container__imgSlider--tec span{
    color: #0400ff;
    margin-right: 1em;
  }
  .container__imgSlider--github {
    font-size: 3em;
  }
  
  
  @media (max-width: 1024px) {
    .slider__box {
      width: 850px;
    }
    .container__imgSlider h3 {
      width: 830px;
    }
    .container__imgSlider--img img {
      width: 370px;
    }
  }
  @media (max-width: 768px) {
    .slider__box {
      width: 700px;
    }
    .container__imgSlider h3 {
      width: 650px;
    }
    .container__imgSlider--img img {
      width: 330px;
    }
  }
  @media (max-width: 450px) {
    .slider__box {
      width: 380px;
      margin-left: -2.8em;
    }
    .container__imgSlider h3 {
      width: 400px;
    }
    .container__imgSlider--img img {
      width: 320px;
      margin-left: 0em;
    }
    .previus {
      left: 14px;
    }
    .next {
      right: -20px;
    }
  }
  @media (max-width: 376px) {
    .slider__box {
      width: 350px;
      margin-left: -2em;
    }
    .container__imgSlider h3 {
      width: 340px;
    }
    .container__imgSlider--img img {
      width: 300px;
      margin-left: 1em;
    }
  }
  @media (max-width: 321px) {
    .slider__box {
      width: 320px;
      margin-left: -2em;
    }
    .container__imgSlider h3 {
      font-size: 2em;
      width: 310px;
    }
    .container__imgSlider--img img {
      margin-left: 0em;
    }
    .PreviusNext {
      height: 36px;
      width: 36px;
      text-align: center;
      line-height: 36px;
    }
    .projects__title {
      font-size: 2.5em;
    }
  }